body {
    background-color: red;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #aaa;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.header.hide {
    transform: translateY(-163px);
}

.logo {
    width: 211px;
    height: 60px;
    margin: 25px auto;
    background-color: #3333;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.btn {
    font-size: 10px;

}

main {
    padding-top: 200px;
    width: 100%;
    height: 2000px;
    background-color: aqua;
}

.form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.form__title {
    display: block;
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.form__text {
    max-width: 388px;
    width: 100%;
    outline: transparent;
    border: transparent;
    background-color: transparent;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(48, 48, 48, 0.63);
    margin-bottom: 40px;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input:focus {
        font-size: 16px;
    }
}