.popup-form {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-200%);
    z-index: 1000;
    transition: transform .3s linear;

    &.active {
        transform: translateY(-50%) translateX(0);
    }

    &__title {
        line-height: 1;

        @include mxw($sm) {
            margin-bottom: 20px;
        }
    }

    &__btn {
        cursor: pointer;
        position: absolute;
        height: 25px;
        width: 25px;
        right: 45px;
        top: 15px;
        &::after,
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #000;
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }
    }

    &__text {
        margin-bottom: 70px;
        max-width: 750px;
        font-size: 20px;

        @include mxw($sm) {
            font-size: 14px;
            margin-bottom: 30px;
        }
    }

    &__box {
        background-color: #fff;
        padding: 50px 78px 100px 78px;

        @include mxw($sm) {
            padding: 20px 30px 40px 30px;
        }
    }

    .contact-form {
        position: relative;
        z-index: 2;
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: 15px;


        @include mxw($md) {
            opacity: 0.2;
            z-index: 1;
        }

        @include mxw($sm) {
            width: 300px;
            height: 300px;
        }
        @include mxw($xs) {
            right: 10px;
        }
    }
}