<section class="about">
    <div class="container">
        <h3 class="about__title title">
            ЯК ПРАЦЮЄ UDEN
        </h3>
        <div class="about__text">
            <p>
                Звичайна батарея нагріває кімнату зверху до низу концентруючи тепле повітря вгорі. Обігрівачі Уден
                рівномірно обігрівають кімнату забезпечуючи однакову температуру всюди.
            </p>
        </div>

        <div class="about__box">
            <img class="about__img about__img--left" src="images/about/img-1.png" alt="uden in work">
            <div class="about__text about__text--mobile">
                <p>
                    Звичайна батарея нагріває кімнату зверху до низу концентруючи тепле повітря вгорі. Обігрівачі Уден
                    рівномірно обігрівають кімнату забезпечуючи однакову температуру всюди.
                </p>
            </div>
            <img class="about__img" src="images/about/img-2.png" alt="uden in work">
        </div>
    </div>
</section>