<section class="advantages" id="advantages">
    <div class="container">
        <h3 class="advantages__title title">
            ПЕРЕВАГИ
        </h3>
        <ul class="advantages__list">
            <li class="advantages__item advantages__item--dollar">
                <div class="advantages__text">
                    <p>449 ГРН середня витрата у власному будинку 10 м² на місяць</p>
                </div>
            </li>
            <li class="advantages__item advantages__item--sun">
                <div class="advantages__text">
                    <p>До 90 хвилин продовжує обігрівати приміщення після вимкнення</p>
                </div>
            </li>
            <li class="advantages__item advantages__item--hand">
                <div class="advantages__text">
                    <p>Від 1 сезону термін окупності обладнання</p>
                </div>
            </li>
            <li class="advantages__item advantages__item--shield">
                <div class="advantages__text">
                    <p>30 років термін експлуатації смарт опалення UDEN-S</p>
                </div>
            </li>
            <li class="advantages__item  advantages__item--aim">
                <div class="advantages__text">
                    <p>ДО 3-Х разів дешевше газового опалення</p>
                </div>
            </li>
            <li class="advantages__item advantages__item--blocks">
                <div class="advantages__text">
                    <p>0 ГРН додаткових витрат на обслуговування, монтаж, дозвіл та проект</p>
                </div>
            </li>
        </ul>
    </div>
</section>