<section class="baseboard">
    <div class="container">
        <img class="baseboard__bg" src="images/baseboard-bg.png" alt="baseboard">
        <h3 class="baseboard__title title">
            ТЕПЛІ ПЛІНТУСИ
        </h3>

        <ul class="baseboard__list">
            <li class="baseboard__item active">
                <div class="baseboard__left">
                    <div class="baseboard__name">
                        <p>Uden 250</p>
                    </div>
                    <button class="baseboard__btn accent-plus-btn active js-baseboard__tab" type="button" id="baseboard-1"></button>
                </div>
                <div class="baseboard__right active" data-filter="baseboard-1">

                    <div class="baseboard__info">
                        <div class="baseboard__info-left">
                            <span>Площа опалення</span>
                            <span>до 5 м²</span>
                        </div>
                        <div class="baseboard__info-right">
                            <span>Вага</span>
                            <span>4,5 кг</span>
                        </div>
                    </div>
                    <div class="baseboard__info">
                        <div class="baseboard__info-left">
                            <span>Споживання за годину</span>
                            <span>0,250 кВт</span>
                        </div>
                        <div class="baseboard__info-right">
                            <span>Гарантія</span>
                            <span>60 місяців</span>
                        </div>
                    </div>
                    <div class="baseboard__info">
                        <div class="baseboard__info-left">
                            <span>Розміри з кріпленнями</span>
                            <span>98 х 17 х 3,5 см</span>
                        </div>
                        <div class="baseboard__info-right">
                            <span>Споживання з терморегулятором на добу</span>
                            <span>2 кВт</span>
                        </div>
                    </div>
                    <div class="baseboard__info">
                        <div class="baseboard__info-left">
                            <div>Вартість <div>2861</div> ГРН</div>
                        </div>
                        <div class="baseboard__info-right">
                            <button class="baseboard__btn-order js-openPopup" type="button">замовити комплект</button>
                        </div>
                    </div>

                </div>
            </li>
            <li class="baseboard__item">
                <div class="baseboard__left">
                    <div class="baseboard__name">
                        <p>Uden 250</p>
                    </div>
                    <button class="baseboard__btn accent-plus-btn js-baseboard__tab" type="button" id="baseboard-2"></button>
                </div>
                <div class="baseboard__right" data-filter="baseboard-2">
                    <div class="baseboard__absolute">
                        <div class="baseboard__info">
                            <div class="baseboard__info-left">
                                <span>Площая</span>
                                <span>до 5 м²</span>
                            </div>
                            <div class="baseboard__info-right">
                                <span>Вага</span>
                                <span>4,5 кг</span>
                            </div>
                        </div>
                        <div class="baseboard__info">
                            <div class="baseboard__info-left">
                                <span>Споживання за годину</span>
                                <span>0,250 кВт</span>
                            </div>
                            <div class="baseboard__info-right">
                                <span>Гарантія</span>
                                <span>60 місяців</span>
                            </div>
                        </div>
                        <div class="baseboard__info">
                            <div class="baseboard__info-left">
                                <span>Розміри з кріпленнями</span>
                                <span>98 х 17 х 3,5 см</span>
                            </div>
                            <div class="baseboard__info-right">
                                <span>Споживання з терморегулятором на добу</span>
                                <span>2 кВт</span>
                            </div>
                        </div>
                        <div class="baseboard__info">
                            <div class="baseboard__info-left">
                                <div>Вартість <div>2861</div> ГРН</div>
                            </div>
                            <div class="baseboard__info-right">
                                <button class="baseboard__btn-order js-openPopup" type="button">замовити комплект</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>