<section class="contacts" id="contacts">
    <div class="container">
        <h3 class="contacts__title title">
            Контакти
        </h3>
    </div>
    <div class="contacts__bg">
        <div class="container">
            <div class="contacts__box">
                <form class="contact-form" name="contactForm" action="#">
                    <h5 class="contact-form__title">
                        контактна форма
                    </h5>

                    <input class="contact-form__input" type="text" placeholder="ім’я" required>
                    <div class="contact-form__box">
                        <input class="contact-form__input" type="text" placeholder="телеграм">
                        <input class="contact-form__input" type="text" placeholder="вайбер">
                        <input class="contact-form__input" type="text" placeholder="воцап">
                    </div>
                    <input class="contact-form__input" type="text" placeholder="ваше питання" required>

                    <button class="contact-form__btn accent-arrow-btn js-openThankPopup" type="submit">відправити заявку</button>
                </form>


                <div class="contact-links">
                    <h3 class="contact-links__title">
                        наші контакти
                    </h3>

                    <ul class="contact-links__list">
                        <li class="contact-links__item">
                            <a class="contact-links__link contact-links__link--mail"
                                href="mailto:forexample@gmail.com">forexample@gmail.com</a>
                        </li>
                        <li class="contact-links__item">
                            <a class="contact-links__link contact-links__link--number"
                                href="tel:380667458899">+380-(66)-745-88-99</a>
                        </li>
                        <li class="contact-links__item">
                            <a class="contact-links__link contact-links__link--telegram" href="#"
                                target="_blank">@helloWorld</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>