<section class="designer">
    <div class="container">
        <h3 class="designer__title title">
            ДИЗАЙНЕРСЬКІ UDEN-S
        </h3>

        <div class="designer__info">
            <div class="designer__text-first">
                <p>
                    Дизайнерські обігрівачі Uden чудово підійдуть під ваш інтер’єр.
                    На вибір різноманітні варіаціі обігрівачів, які розписуються вручну.
                </p>
            </div>
            <div class="designer__box">
                <div class="designer__text-second">
                    <p>
                        Можна вибрати власний дизайн, тисни на кнопку для коснультації
                    </p>
                </div>
                <button class="designer__btn accent-arrow-btn js-openPopup">
                    замовити консультацію
                </button>
            </div>
            <div class="designer__images">
                <img class="designer__img designer__img--first" src="images/designer/img-1.png"
                    alt="designer images of uden">
                <img class="designer__img designer__img--second" src="images/designer/img-2.png"
                    alt="designer images of uden">
                <img class="designer__img designer__img--last" src="images/designer/img-3.png"
                    alt="designer images of uden">
            </div>
            
        </div>
    </div>
</section>