<section class="faq" id="faq">
    <div class="container">
        <h3 class="faq__title title ">
            FAQ
        </h3>

        <ul class="faq-tabs__list">
            <li class="faq-tabs__item">
                <div class="faq-tabs__title">
                    <div class="faq-tabs__text">
                        <p>ПРОДУКЦІЯ UDEN-S СЕРТИФІКОВАНА?</p>
                    </div>
                    <button class="faq-tabs__btn js-faq-tabs accent-plus-btn active" type="button"></button>
                </div>
                <div class="faq-tabs__content active">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit illo saepe numquam odio maxime,
                        placeat laboriosam animi repellendus odit, sed magni quis reiciendis tenetur at architecto
                        nulla! Officia, rerum laudantium!
                    </p>
                </div>
            </li>
            <li class="faq-tabs__item">
                <div class="faq-tabs__title">
                    <div class="faq-tabs__text">
                        <p>ПРОДУКЦІЯ UDEN-S СЕРТИФІКОВАНА?</p>
                    </div>
                    <button class="faq-tabs__btn js-faq-tabs accent-plus-btn " type="button"></button>
                </div>
                <div class="faq-tabs__content ">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit illo saepe numquam odio maxime,
                        placeat laboriosam animi repellendus odit, sed magni quis reiciendis tenetur at architecto
                        nulla! Officia, rerum laudantium!
                    </p>
                </div>
            </li>
            <li class="faq-tabs__item">
                <div class="faq-tabs__title">
                    <div class="faq-tabs__text">
                        <p>ПРОДУКЦІЯ UDEN-S СЕРТИФІКОВАНА?</p>
                    </div>
                    <button class="faq-tabs__btn js-faq-tabs accent-plus-btn" type="button"></button>
                </div>
                <div class="faq-tabs__content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit illo saepe numquam odio maxime,
                        placeat laboriosam animi repellendus odit, sed magni quis reiciendis tenetur at architecto
                        nulla! Officia, rerum laudantium!
                    </p>
                </div>
            </li>
            <li class="faq-tabs__item">
                <div class="faq-tabs__title">
                    <div class="faq-tabs__text">
                        <p>ПРОДУКЦІЯ UDEN-S СЕРТИФІКОВАНА?</p>
                    </div>
                    <button class="faq-tabs__btn js-faq-tabs accent-plus-btn" type="button"></button>
                </div>
                <div class="faq-tabs__content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit illo saepe numquam odio maxime,
                        placeat laboriosam animi repellendus odit, sed magni quis reiciendis tenetur at architecto
                        nulla! Officia, rerum laudantium!
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>