<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__logo">
                <img class="" src="" alt="">
            </div>
            
            <ul class="footer__list menu">
                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#faq">
                        FAQ 
                    </a>
                </li>
                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#reviews">
                        Відгуки 
                    </a>
                </li>
                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#contacts">
                        Контакти 
                    </a>
                </li>
                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#panels">
                        Продукція 
                    </a>
                </li>
                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#advantages">
                        Переваги 
                    </a>
                </li>
            </ul>

            <div class="footer__contacts contact-links">
                <h3 class="contact-links__title">
                    наші контакти
                </h3>

                <ul class="contact-links__list">
                    <li class="contact-links__item">
                        <a class="contact-links__link contact-links__link--mail"
                            href="mailto:forexample@gmail.com">forexample@gmail.com</a>
                    </li>
                    <li class="contact-links__item">
                        <a class="contact-links__link contact-links__link--number"
                            href="tel:380667458899">+380-(66)-745-88-99</a>
                    </li>
                    <li class="contact-links__item">
                        <a class="contact-links__link contact-links__link--telegram" href="#"
                            target="_blank">@helloWorld</a>
                    </li>
                </ul>
            </div>
        </div>

        <button class="footer__btn js-openPopup">замовити консультацію</button>

        <div class="footer__bottom">
            <div class="footer__developer">
                <span>Розробка сайтів - </span>
                <a class="footer__developer-links footer__developer-links--inst" href="#" target="_blank"></a>
                <a class="footer__developer-links footer__developer-links--telegram" href="#" target="_blank"></a>
            </div>
            <div class="footer__copyright">
                <p>copyright © 2023 - your name</p>
            </div>
        </div>
    </div>
</footer>