<footer class="footer">
    <div class="container">
        <ul class="footer__menu">
            <li class="footer__item">
                <p class="footer__title">КОМПАНИЯ</p>
                <div class="footer__link-box" id="element">
                    <a class="footer__link" href="#">О нас</a>
                    <a class="footer__link" href="#">Контакты</a>
                </div>
            </li>
            <li class="footer__item">
                <p class="footer__title">ПОЛЕЗНОЕ</p>
                <div class="footer__link-box" id="element">
                    <a class="footer__link" href="#">Оплата и доставка</a>
                    <a class="footer__link" href="#">Условия возврата</a>
                    <a class="footer__link" href="#">Бонусная система</a>
                </div>
            </li>
            <li class="footer__item">
                <p class="footer__title">ПОКУПАТЕЛЮ</p>
                <div class="footer__link-box" id="element">
                    <a class="footer__link" href="#">Избранное</a>
                    <a class="footer__link" href="#">Публичная оферта</a>
                    <a class="footer__link" href="#">Политика конфиденциальности</a>
                </div>
            </li>
            <li class="footer__item">
                <p class="footer__title">КОНТАКТЫ</p>
                <div class="footer__link-box" id="element">
                    <a class="footer__link" href="#">+38(073) 096 36 44</a>
                    <a class="footer__link" href="#">info@yanki.com</a>
                </div>
            </li>
        </ul>
        <p class="footer__sub">©️ 2021 Yanki. All rights reserved</p>
    </div>
</footer>