<header class="header">
    <div class="container">
        <nav class="header__nav">
            <button class="header__mobile js-header-menu " type="button">
                <span></span>
            </button>
            <ul class="header__list menu">
                <li class="header__item menu__item">
                    <a class="header__link menu__link" href="#faq">
                        FAQ 
                    </a>
                </li>
                <li class="header__item menu__item">
                    <a class="header__link menu__link" href="#reviews">
                        Відгуки 
                    </a>
                </li>
                <li class="header__item menu__item">
                    <a class="header__link menu__link" href="#contacts">
                        Контакти 
                    </a>
                </li>
                <li class="header__item menu__item">
                    <a class="header__link menu__link" href="#panels">
                        Продукція 
                    </a>
                </li>
                <li class="header__item menu__item">
                    <a class="header__link menu__link" href="#advantages">
                        Переваги 
                    </a>
                </li>
            </ul>

            <ul class="header-languages">
                <li class="header-languages__item">
                    <a href="" class="header-languages__button">Ru</a>
                </li>
                <li class="header-languages__item">
                    <a href="" class="header-languages__button">En</a>
                </li>
                <li class="header-languages__item">
                    <a href="" class="header-languages__button active">Ua</a>
                </li>
                <li class="header-languages__item">
                    <a href="" class="header-languages__button">Pl</a>
                </li>
            </ul>
        </nav>
    </div>
</header>