<section class="hero">
    <div class="hero__bg">
        <div class="container">
            <div class="hero__flex">
                <h1 class="hero__title">
                    ОБІГРІВАЧІ UDEN
                </h1>
                <div class="hero__text">
                    <p>Зменшіть оплату за опалення до <span>71,5%</span> з UDEN-S завдяки інфрачервоному обігріву</p>
                </div>

                <a class="hero__button accent-button" href="#panels">замовити комплект</a>
            </div>
        </div>
    </div>
</section>