<section class="panels" id="panels">
    <div class="container">
        <img class="panels__bg" src="images/panels-bg.png" alt="panels">
        <h3 class="panels__title title">
            Металокерамічні панелі UDEN-S
        </h3>

        <ul class="panels__list">
            <li class="panels__item active">
                <div class="panels__left">
                    <div class="panels__name">
                        <p>Uden 250</p>
                    </div>
                    <button class="panels__btn accent-plus-btn active js-panels__tab" type="button" id="panel-1"></button>
                </div>
                <div class="panels__right active" data-filter="panel-1">

                    <div class="panels__info">
                        <div class="panels__info-left">
                            <span>Площа опалення</span>
                            <span>до 5 м²</span>
                        </div>
                        <div class="panels__info-right">
                            <span>Вага</span>
                            <span>4,5 кг</span>
                        </div>
                    </div>
                    <div class="panels__info">
                        <div class="panels__info-left">
                            <span>Споживання за годину</span>
                            <span>0,250 кВт</span>
                        </div>
                        <div class="panels__info-right">
                            <span>Гарантія</span>
                            <span>60 місяців</span>
                        </div>
                    </div>
                    <div class="panels__info">
                        <div class="panels__info-left">
                            <span>Розміри з кріпленнями</span>
                            <span>98 х 17 х 3,5 см</span>
                        </div>
                        <div class="panels__info-right">
                            <span>Споживання з терморегулятором на добу</span>
                            <span>2 кВт</span>
                        </div>
                    </div>
                    <div class="panels__info">
                        <div class="panels__info-left">
                            <div>Вартість <div>2861</div> ГРН</div>
                        </div>
                        <div class="panels__info-right">
                            <button class="panels__btn-order js-openPopup" type="button">замовити комплект</button>
                        </div>
                    </div>

                </div>
            </li>
            <li class="panels__item">
                <div class="panels__left">
                    <div class="panels__name">
                        <p>Uden 250</p>
                    </div>
                    <button class="panels__btn accent-plus-btn js-panels__tab" type="button" id="panel-2"></button>
                </div>
                <div class="panels__right" data-filter="panel-2">
                    <div class="panels__absolute">
                        <div class="panels__info">
                            <div class="panels__info-left">
                                <span>Площая</span>
                                <span>до 5 м²</span>
                            </div>
                            <div class="panels__info-right">
                                <span>Вага</span>
                                <span>4,5 кг</span>
                            </div>
                        </div>
                        <div class="panels__info">
                            <div class="panels__info-left">
                                <span>Споживання за годину</span>
                                <span>0,250 кВт</span>
                            </div>
                            <div class="panels__info-right">
                                <span>Гарантія</span>
                                <span>60 місяців</span>
                            </div>
                        </div>
                        <div class="panels__info">
                            <div class="panels__info-left">
                                <span>Розміри з кріпленнями</span>
                                <span>98 х 17 х 3,5 см</span>
                            </div>
                            <div class="panels__info-right">
                                <span>Споживання з терморегулятором на добу</span>
                                <span>2 кВт</span>
                            </div>
                        </div>
                        <div class="panels__info">
                            <div class="panels__info-left">
                                <div>Вартість <div>2861</div> ГРН</div>
                            </div>
                            <div class="panels__info-right">
                                <button class="panels__btn-order js-openPopup" type="button">замовити комплект</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>