<section class="popup-form">
    <div class="container">
        <div class="popup-form__box">
            <h3 class="popup-form__title title">
                вітаємо!
            </h3>

            <button class="popup-form__btn js-close-popup" type="button"></button>

            <div class="popup-form__text">
                <p>Заповніть форму нижче, для того щоб ми могли з вами сконтактуватись та оформити фаше замовлення!</p>
            </div>

            <form class="contact-form" name="contactFormPopup">
                <h5 class="contact-form__title">
                    контактна форма
                </h5>

                <input class="contact-form__input" type="text" placeholder="ім’я" required>
                <div class="contact-form__box">
                    <input class="contact-form__input" type="text" placeholder="телеграм">
                    <input class="contact-form__input" type="text" placeholder="вайбер">
                    <input class="contact-form__input" type="text" placeholder="воцап">
                </div>
                <input class="contact-form__input" type="text" placeholder="ваше питання" required>

                <button class="contact-form__btn accent-arrow-btn js-openThankPopup" type="submit">відправити заявку</button>
            </form>

            <img class="popup-form__img" src="images/popup-bg.jpg" alt="">
        </div>

    </div>
</section>