<section class="reviews" id="reviews">
    <div class="container">
        <h3 class="reviews__title title">
            ВІДГУКИ
        </h3>
        <div class="reviews__swiper swiper">
            <ul class="reviews__list swiper-wrapper">

                <li class="reviews__item swiper-slide">
                    <div class="reviews__info">
                        <img class="reviews__img" src="" alt="author photo">
                        <div class="reviews__box">
                            <span class="reviews__span reviews__span--date">24.10.2001</span>
                            <span class="reviews__span reviews__span--name">@xlmaud</span>
                        </div>
                    </div>
                    <div class="reviews__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex
                        </p>
                    </div>
                </li>
                <li class="reviews__item swiper-slide">
                    <div class="reviews__info">
                        <img class="reviews__img" src="" alt="author photo">
                        <div class="reviews__box">
                            <span class="reviews__span reviews__span--date">24.10.2001</span>
                            <span class="reviews__span reviews__span--name">@xlmaud</span>
                        </div>
                    </div>
                    <div class="reviews__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex
                        </p>
                    </div>
                </li>
                <li class="reviews__item swiper-slide">
                    <div class="reviews__info">
                        <img class="reviews__img" src="" alt="author photo">
                        <div class="reviews__box">
                            <span class="reviews__span reviews__span--date">24.10.2001</span>
                            <span class="reviews__span reviews__span--name">@xlmaud</span>
                        </div>
                    </div>
                    <div class="reviews__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex
                        </p>
                    </div>
                </li>
                <li class="reviews__item swiper-slide">
                    <div class="reviews__info">
                        <img class="reviews__img" src="" alt="author photo">
                        <div class="reviews__box">
                            <span class="reviews__span reviews__span--date">24.10.2001</span>
                            <span class="reviews__span reviews__span--name">@xlmaud</span>
                        </div>
                    </div>
                    <div class="reviews__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex
                        </p>
                    </div>
                </li>
                
            </ul>

            <div class="reviews__arrows">
                <div class="reviews__arrow reviews__arrow--prev"></div>
                <div class="reviews__arrow reviews__arrow--next"></div>
            </div>
        </div>
    </div>
</section>