<section class="sets" id="sets">
    <div class="container">
        <h3 class="sets__title title">
            Комплект для кімнати
        </h3>

        <div class="sets__description">
            <p>Оберіть категорію та отримайте докладний опис та приблизний розрахунок ціни.</p>
        </div>
        <div class="sets-swiper swiper">
            <ul class="sets-card__list swiper-wrapper">
                <li class="sets-card__item  swiper-slide active">
                    <h5 class="sets-card__name">
                        Готове рішення для 1 кімнатної квартири
                    </h5>

                    <div class="sets-card__text">
                        <p>
                            Опалювальний комплект для 1 кімнатної квартири. Вам не потрібно думати про рішення, ми це
                            зробили за вас
                        </p>
                    </div>

                    <div class="sets-card__box">
                        <span class="sets-card__span ">UDEN-1000 1 шт</span>
                        <span class="sets-card__span ">UDEN-500 1 шт</span>
                    </div>
                    <span class="sets-card__span sets-card__span--single">UDEN-350 1 шт</span>
                    <div class="sets-card__box sets-card__box--closest">
                        <span class="sets-card__price">17 320 грн</span>
                        <button class="sets-card__btn sets-card__btn--order js-openPopup" type="button">замовити</button>
                    </div>
                    <button class="sets-card__btn sets-card__btn--more" type="button" id="tab-1">Детальніше</button>
                </li>
                <li class="sets-card__item  swiper-slide">
                    <h5 class="sets-card__name">
                        Готове рішення для 2 кімнатної квартири
                    </h5>

                    <div class="sets-card__text">
                        <p>
                            Опалювальний комплект для 1 кімнатної квартири. Вам не потрібно думати про рішення, ми це
                            зробили за вас
                        </p>
                    </div>

                    <div class="sets-card__box">
                        <span class="sets-card__span ">UDEN-1000 1 шт</span>
                        <span class="sets-card__span ">UDEN-500 1 шт</span>
                    </div>
                    <span class="sets-card__span sets-card__span--single">UDEN-350 1 шт</span>
                    <div class="sets-card__box sets-card__box--closest">
                        <span class="sets-card__price">17 320 грн</span>
                        <button class="sets-card__btn sets-card__btn--order js-openPopup" type="button">замовити</button>
                    </div>
                    <button class="sets-card__btn sets-card__btn--more" type="button" id="tab-2">Детальніше</button>
                </li>
                <li class="sets-card__item  swiper-slide">
                    <h5 class="sets-card__name">
                        Готове рішення для 3 кімнатної квартири
                    </h5>

                    <div class="sets-card__text">
                        <p>
                            Опалювальний комплект для 1 кімнатної квартири. Вам не потрібно думати про рішення, ми це
                            зробили за вас
                        </p>
                    </div>

                    <div class="sets-card__box">
                        <span class="sets-card__span ">UDEN-1000 1 шт</span>
                        <span class="sets-card__span ">UDEN-500 1 шт</span>
                    </div>
                    <span class="sets-card__span sets-card__span--single">UDEN-350 1 шт</span>
                    <div class="sets-card__box sets-card__box--closest">
                        <span class="sets-card__price">17 320 грн</span>
                        <button class="sets-card__btn sets-card__btn--order js-openPopup" type="button">замовити</button>
                    </div>
                    <button class="sets-card__btn sets-card__btn--more" type="button" id="tab-3">Детальніше</button>
                </li>
            </ul>

            <div class="sets-swiper__arrows">
                <div class="sets-swiper__arrow sets-swiper__arrow--prev">
                    <span class="sr-only">button for scroll swiper left</span>
                </div>
                <div class="sets-swiper__arrow sets-swiper__arrow--next">
                    <span class="sr-only">button for scroll swiper right</span>
                </div>
            </div>
        </div>
        <ul class="sets-open ">
            <li class="sets-open__item active" data-tab="tab-1">
                <div class="sets-open__left left">
                    <h5 class="left__title">
                        Вартість системи основного опалення на прикладі 1-кімнатної квартири
                    </h5>
                    <div class="left__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex '
                        </p>
                    </div>
                    <h5 class="left__model">
                        Моделі обігрівачів
                    </h5>
                    <ul class="left-list">
                        <li class="left-list__item">
                            <span class="left-list__span">UDEN-1000 1 шт</span>
                        </li>
                        <li class="left-list__item">
                            <span class="left-list__span">UDEN-300 – 1 шт</span>
                        </li>
                        <li class="left-list__item">
                            <span class="left-list__span">UDEN-500 – 1 шт</span>
                        </li>
                    </ul>

                    <div class="left__box">
                        <span class="left__price">399$</span>
                        <button class="left__button accent-button js-openPopup">замовити комплект</button>
                    </div>
                    <div class="left__img">
                        <img src="images/sets/sets-room-1.svg" alt="Фотогафія квартири">
                    </div>
                </div>
                <ul class="sets-open__right right">
                    <li class="right__item">
                        <h6 class="right__title right__title--characteristics">Характеристики</h6>
                        <span class="right__text">Площа приміщення 30 м 2</span>
                        <span class="right__text">Потужність системи 1,8 кВт</span>
                        <span class="right__text">Кількість обігрівачів 3</span>
                    </li>
                    <li class="">
                        <h6 class="right__title right__title--price">Вартість</h6>
                        <span class="right__subtitle">Варіант "Стандарт"- металокерамічні обігрівачі UDEN-S</span>

                        <span class="right__text">Вартість обігрівачів ± 12358 грн </span>
                        <span class="right__text">Вартість кабельно-провідникової продукції близько 3000 грн </span>
                        <span class="right__text">Вартість терморегуляторів ± 1962 грн (Terneo roll - 3 шт.)</span>
                        <span class="right__text right__text--green">ВСЬОГО ± 17 320 грн</span>

                    </li>
                    <li class="right__item">
                        <h6 class="right__title right__title--electro">Споживання електроенергії</h6>
                        <span class="right__text">Загальна потужність системи, кВт 1,8 кВт </span>
                        <span class="right__text">Активний час роботи системи, год на добу 5 год/добу</span>
                        <span class="right__text">Середне споживання в місяць, кВт 270 кВт/місяць </span>
                        <span class="right__text">Тариф на електроенергію, грн 2,64 грн/1 кВт </span>
                        <span class="right__text">Середня вартість опалення за місяць 712,8 грн/місяць</span>
                    </li>

                </ul>
            </li>
            <li class="sets-open__item" data-tab="tab-2">
                <div class="sets-open__left left">
                    <h5 class="left__title">
                        Вартість системи основного опалення на прикладі 2-кімнатної квартири
                    </h5>
                    <div class="left__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex '
                        </p>
                    </div>
                    <h5 class="left__model">
                        Моделі обігрівачів
                    </h5>
                    <ul class="left-list">
                        <li class="left-list__item">
                            <span class="left-list__span">UDEN-1000 1 шт</span>
                        </li>
                        <li class="left-list__item">
                            <span class="left-list__span">UDEN-300 – 1 шт</span>
                        </li>
                        <li class="left-list__item">
                            <span class="left-list__span">UDEN-500 – 1 шт</span>
                        </li>
                    </ul>

                    <div class="left__box">
                        <span class="left__price">399$</span>
                        <button class="left__button accent-button js-openPopup">замовити комплект</button>
                    </div>
                    <div class="left__img">
                        <img src="images/sets/sets-room-2.svg" alt="Фотогафія квартири">
                    </div>
                </div>
                <ul class="sets-open__right right">
                    <li class="right__item">
                        <h6 class="right__title right__title--characteristics">Характеристики</h6>
                        <span class="right__text">Площа приміщення 30 м 2</span>
                        <span class="right__text">Потужність системи 1,8 кВт</span>
                        <span class="right__text">Кількість обігрівачів 3</span>
                    </li>
                    <li class="">
                        <h6 class="right__title right__title--price">Вартість</h6>
                        <span class="right__subtitle">Варіант "Стандарт"- металокерамічні обігрівачі UDEN-S</span>

                        <span class="right__text">Вартість обігрівачів ± 12358 грн </span>
                        <span class="right__text">Вартість кабельно-провідникової продукції близько 3000 грн </span>
                        <span class="right__text">Вартість терморегуляторів ± 1962 грн (Terneo roll - 3 шт.)</span>
                        <span class="right__text right__text--green">ВСЬОГО ± 17 320 грн</span>

                    </li>
                    <li class="right__item">
                        <h6 class="right__title right__title--electro">Споживання електроенергії</h6>
                        <span class="right__text">Загальна потужність системи, кВт 1,8 кВт </span>
                        <span class="right__text">Активний час роботи системи, год на добу 5 год/добу</span>
                        <span class="right__text">Середне споживання в місяць, кВт 270 кВт/місяць </span>
                        <span class="right__text">Тариф на електроенергію, грн 2,64 грн/1 кВт </span>
                        <span class="right__text">Середня вартість опалення за місяць 712,8 грн/місяць</span>
                    </li>

                </ul>
            </li>
            <li class="sets-open__item" data-tab="tab-3">
                <div class="sets-open__left left">
                    <h5 class="left__title">
                        Вартість системи основного опалення на прикладі 3-кімнатної квартири
                    </h5>
                    <div class="left__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex '
                        </p>
                    </div>
                    <h5 class="left__model">
                        Моделі обігрівачів
                    </h5>
                    <ul class="left-list">
                        <li class="left-list__item">
                            <span class="left-list__span">UDEN-1000 1 шт</span>
                        </li>
                        <li class="left-list__item">
                            <span class="left-list__span">UDEN-300 – 1 шт</span>
                        </li>
                        <li class="left-list__item">
                            <span class="left-list__span">UDEN-500 – 1 шт</span>
                        </li>
                    </ul>

                    <div class="left__box">
                        <span class="left__price">399$</span>
                        <button class="left__button accent-button js-openPopup">замовити комплект</button>
                    </div>
                    <div class="left__img">
                        <img src="images/sets/sets-room-3.svg" alt="Фотогафія квартири">
                    </div>
                </div>
                <ul class="sets-open__right right">
                    <li class="right__item">
                        <h6 class="right__title right__title--characteristics">Характеристики</h6>
                        <span class="right__text">Площа приміщення 30 м 2</span>
                        <span class="right__text">Потужність системи 1,8 кВт</span>
                        <span class="right__text">Кількість обігрівачів 3</span>
                    </li>
                    <li class="">
                        <h6 class="right__title right__title--price">Вартість</h6>
                        <span class="right__subtitle">Варіант "Стандарт"- металокерамічні обігрівачі UDEN-S</span>

                        <span class="right__text">Вартість обігрівачів ± 12358 грн </span>
                        <span class="right__text">Вартість кабельно-провідникової продукції близько 3000 грн </span>
                        <span class="right__text">Вартість терморегуляторів ± 1962 грн (Terneo roll - 3 шт.)</span>
                        <span class="right__text right__text--green">ВСЬОГО ± 17 320 грн</span>

                    </li>
                    <li class="right__item">
                        <h6 class="right__title right__title--electro">Споживання електроенергії</h6>
                        <span class="right__text">Загальна потужність системи, кВт 1,8 кВт </span>
                        <span class="right__text">Активний час роботи системи, год на добу 5 год/добу</span>
                        <span class="right__text">Середне споживання в місяць, кВт 270 кВт/місяць </span>
                        <span class="right__text">Тариф на електроенергію, грн 2,64 грн/1 кВт </span>
                        <span class="right__text">Середня вартість опалення за місяць 712,8 грн/місяць</span>
                    </li>

                </ul>
            </li>
        </ul>


    </div>
</section>